.principal-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}
